@import './utils/colors.css';
@import './utils/fonts.css';
@import './utils/reset.css';
@import './utils/buttons.css';

*, html, body {
    margin: 0;
    padding: 0;   
    background-color: var(--base-color);
}

/* Rating Open */

.rating {
    display: flex;
    align-items: center;
}

.rating-count {
    font-family: Poppins-SemiBold;
    color: var(--yellow);
    margin-left: 3px;
}

.rating-sum {
    font-family: Poppins-Regular;
    color: var(--dark-grey);
    margin-left: 4px;
}

.restaurant-name {
    font-family: Poppins-SemiBold;
    color: var(--dark);
    font-size: 22px;
    line-height: 33px;
    margin-top: 5px;
}
/* Rating Close */

/* Card Landscape Open */
.card-section {
    position: relative;
    display: flex;
    justify-content: center;
}

.card.landscape {
    position: absolute;
    bottom: 24px;
    width: 352px;
    height: 131px;
    background: #FFFFFF;
    border-radius: 24px;
    padding: 24px;
    display: grid;
    grid-template-columns: 260px 36px;
    align-items: center;
}

.card.landscape .text-title {
    font-family: Poppins-SemiBold;
    font-size: 16px;
    line-height: 24px;
    color: #232631;
    margin-top: 4px;
    background: none;
}

.card.landscape .text-description {
    font-family: Poppins-Regular;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #656565;
    margin-top: 4px;
}

.card.landscape .btn-action {
    width: 36px;
    height: 36px;
    border: 0;
    border-radius: 12px;
    background-color: var(--orange);
}

.card.landscape svg {
    background: none;
}

/* Card Landscape Close */


/* Card Portrait Open */
.card-section-chef {
    position: relative;
}

.card.portrait {
    position: absolute;
    width: 179px;
    height: 203px;
    left: 433px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 8px 8px 25px rgba(102, 102, 102, 0.04);
    border-radius: 24px;
    padding: 30px 45px;
    border: none;
}

.card.portrait svg, h2, p {
    background: none;
}

.card.portrait .verified {
    width: 80px;
    height: 80px;
    background: #FFF7ED;
    border-radius: 100px;
    text-align: center;
    line-height: 80px;
}

.card.portrait .title {
    font-family: Poppins-SemiBold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin-top: 12px;
}

.card.portrait .description {
    font-family: Poppins-Regular;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #656565;
}
/* Card Portrait Close */

/* Card Landscape two column Open */ 
.card.landscape.two-column {
    position: absolute;
    display: grid;
    grid-template-columns: 96px 174px;
    grid-gap: 24px 12px;
    height: auto;
    left: -60px;
    border:none;
}

.card.landscape.two-column img {
    width: 96px;
    height: 132px;
}

.card.landscape.two-column .title {
    font-family: Poppins-Regular;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #656565;
}

.card.landscape.two-column .description {
    font-family: Poppins-Regular;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #232631;
}

.card.landscape.two-column .action {
    font-family: Poppins-SemiBold;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FDC886;
    text-decoration: none;
    display: inline-block;
    padding-top: 24px;
    background: none;
}
/* Card Landscape two column Close */ 


/* Header Open */
.navbar {
    margin: 60px;
}

.navbar .nav-item {
    font-family: Poppins-Medium;
    color: var(--dark);
    margin-left: 30px;
    font-size: 16px;
}

.navbar .nav-item:first-child {
    margin-left: 30px;
}

.btn-login {
    margin-left: 20px;
}

.nav-item .dropdown {
    position: relative;
}

.nav-item  .dropdown-menu  {
    position: absolute;
    z-index: 999;
    background-color: white;
    border: 1px solid var(--white);
    border-radius: 10px;
    padding: 30px;
    margin-top: 10px;
}

.nav-item .dropdown-menu .dropdown-item {
    font-size: 16px;
    font-family: Poppins-Regular;
    color: var(--light-grey);
    background: none;
}

.nav-item .dropdown-menu li {
    margin-bottom: 30px;
    background: none;
}

.nav-item .dropdown-menu li:last-child {
    margin-bottom: 0;
}
/* Header Close */


/* Carousel Open */
.owl-carousel  {
    width: 100%;
}

.owl-carousel-item img {
    width: 1128px;
    height: 564px;
}

.owl-carousel-item  {
    position: relative;
}

.owl-carousel-item > .card {
    position: absolute;
    width: 390px;
    height: 297px;
    border-radius: 24px;
    padding: 24px;
    left: -74px;
    top: 133.5px;
    border: none;
}

.owl-carousel-item > .card  > h1, h3, p, div {
   background: none;
}

.owl-carousel-item .rating {
    display: flex;
    align-items: center;
}

.owl-carousel-item .rating-count {
    font-family: Poppins-SemiBold;
    color: var(--yellow);
    margin-left: 3px;
}

.owl-carousel-item .rating-sum {
    font-family: Poppins-Regular;
    color: var(--dark-grey);
    margin-left: 4px;
}

.owl-carousel-item .restaurant-name {
    font-family: Poppins-SemiBold;
    color: var(--dark);
    font-size: 22px;
    line-height: 33px;
    margin-top: 5px;
}

.owl-carousel-item .restaurant-price {
    font-family: Poppins-SemiBold;
    font-size: 18px;
    line-height: 27px;
    color: var(--dark-grey);
    margin-top: 5px;
}

.owl-carousel-item .restaurant-location {
    font-family: Poppins-Regular;
    font-size: 16px;
    line-height: 24px;
    color: var(--dark-grey);
    margin-top: 5px;
}

.owl-carousel-item .btn-orange {
    margin-top: 34px;
}

.owl-carousel-item .info {
    font-family: Poppins-Regular;
    color: var(--dark-grey);
    margin-top: 12px;
    display: flex;
    align-items: center;
}

.owl-carousel-item .info span {
    margin-left: 6px;
}
/* Carousel close */


/* Special benefit */
.special-benefit {
    margin-top: 120px;
}

.special-benefit  .header  {
    text-align: center;
}

.special-benefit .header h3 {
    font-family: Poppins-Medium;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: var(--purple);
}

.special-benefit .header h2 {
    font-family: Poppins-Medium;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    color: var(--dark);
}

.special-benefit .body {
    margin-top: 41px;
}

.special-benefit .card {
    border: none;
    width: 100%;
    border-radius: 24px;
    height: 100%;
}

.special-benefit .col {
    width: 315px;
    height: 347px;
    background: #FFFFFF;
    border-radius: 24px;
    border: none;
    padding: 0;
    margin-left: 20px;
}

.special-benefit .col:first-child {
    margin-left: 0;
}

.special-benefit .card-icon {
    width: 80px;
    height: 80px;
    background: rgba(253, 200, 134, 0.15);
    border-radius: 54px;
    text-align: center;
    line-height: 80px;
    margin: 24px auto;
}

.special-benefit .card-icon svg {
    background: none;
}

.special-benefit .card-title {
    font-family: Poppins-Medium;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: var(--dark);
}

.special-benefit .card-description {
    font-family: Poppins-Regular;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--dark-grey);
}

.special-benefit .card-footer {
    width: 100%;
    height: 72px;
    border-radius: 12px 12px 24px 24px;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: none;
}

.special-benefit .card:hover .card-footer {
    background-color: var(--orange);
    cursor: pointer;
}

.special-benefit .card-footer svg {
    background: none;
}

.special-benefit .card-footer span {
    background: none;
    font-family: Poppins-Medium;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--dark);
}
/* Special benefit */

/*  Popular restaurant Open */
.popular-restaurant {
    margin-top: 120px;
}

.popular-restaurant .section-1 .head-title {
    font-family: Poppins-Medium;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--purple);
}

.popular-restaurant .section-1 .head-sub-title { 
    font-family: Poppins-Medium;
    font-size: 28px;
    line-height: 42px;
    color: var(--dark);
}

.popular-restaurant .section-1 .head-description {
    width: 360px;
    font-family: Poppins-Regular;
    font-size: 16px;
    line-height: 24px;
    color: var(--dark-grey);
    margin-top: 20px;
    margin-bottom: 56px;
}

.popular-restaurant .section-2 {
    width: 400px;
    height: 475px;
}

.popular-restaurant .section-3 {
    width: 214px;
    height: 475px;
    margin: 0 20px;
}

.popular-restaurant .section-4 {
    width: 214px;
    height: 475px;
}
/*  Popular restaurant close */

/* Restaurant Near You Open */
.restaurant-near-you {
    margin-top: 120px;
}

.restaurant-near-you .header h3 {
    font-family: Poppins-Medium;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--purple);
}

.restaurant-near-you .header h2 {
    font-family: Poppins-Medium;
    font-size: 28px;
    line-height: 42px;
    color: var(--dark);
}

.restaurant-near-you .dropdown {
    display: flex;
    align-items: center;
    width: 252px;
    height: 64px;
    background: #F2F2F2;
    border-radius: 12px;
    padding: 0 24px;
    cursor: pointer;
    float: right;
}

.restaurant-near-you .dropdown span {
    background: none;
    font-family: Poppins-Medium;
    font-size: 16px;
    line-height: 24px;
    color: #656565;
}

.restaurant-near-you .dropdown svg {
    background: none;
}

.restaurant-near-you .dropdown svg:first-child { 
    margin-right: 6px;
}

.restaurant-near-you .body {
    margin-top: 36px;
}

.restaurant-near-you .body img {
    border-radius: 24px;
}

.restaurant-near-you .footer {
    margin-top: 56px;
}
/* Restaurant Near You Close */

/* Experts Chef Open */
.experts-chef {
    margin: 120px;
}

.experts-chef .header h3 {
    font-family: Poppins-Medium;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--purple);
}

.experts-chef .header h2 {
    font-family: Poppins-Medium;
    font-size: 28px;
    line-height: 42px;
    color: var(--dark);
}

.experts-chef .body {
    margin-top: 32px;
}

.experts-chef .body .item {
    width: 596px;
    height: 141px;
    border-radius: 24px;
    margin-bottom: 20px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.experts-chef .body .item:last-child {
    margin-bottom: 0;
 }


.experts-chef .body .item:hover {
  background: #FFFFFF;
}

.experts-chef .body .item .title {
    font-family: Poppins-SemiBold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #656565;
}

.experts-chef .body .item .sub-title {
    font-family: Poppins-Medium;
    font-size: 22px;
    line-height: 33px;
    color: #232631;
    margin-top: 6px;
}

.experts-chef .body .item  p {
    font-family: Poppins-Regular;
    font-size: 16px;
    line-height: 24px;
    color: #656565;
    margin-top: 6px;
}


.experts-chef .body .item .icon-section span {
    font-family: Poppins-SemiBold;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #FDC886;
    background: none;
}

.experts-chef .body .item .icon-section svg {
    font-family: Poppins-SemiBold;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #FDC886;
    background: none;
}

.experts-chef .footer {
    margin-top: 62px;
}

/* Experts Chef Close */