@import './utils/colors.css';
@import './utils/fonts.css';
@import './utils/reset.css';
@import './utils/buttons.css';

*, html, body {
    margin: 0;
    padding: 0;   
    background-color: var(--base-color);
}

/* Header Open */
.navbar {
    margin: 60px;
}

.navbar .nav-item {
    font-family: Poppins-Medium;
    color: var(--dark);
    margin-left: 30px;
    font-size: 16px;
}

.navbar .nav-item:first-child {
    margin-left: 30px;
}

.btn-login {
    margin-left: 20px;
}

.nav-item .dropdown {
    position: relative;
}

.nav-item  .dropdown-menu  {
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 1px solid var(--white);
    border-radius: 10px;
    padding: 30px;
    margin-top: 10px;
}

.nav-item .dropdown-menu .dropdown-item {
    font-size: 16px;
    font-family: Poppins-Regular;
    color: var(--light-grey);
    background: none;
}

.nav-item .dropdown-menu li {
    margin-bottom: 30px;
    background: none;
}

.nav-item .dropdown-menu li:last-child {
    margin-bottom: 0;
}
/* Header Close */


/* Carousel Open */
.owl-carousel  {
    width: 100%;
}

.owl-carousel-item img {
    width: 1128px;
    height: 564px;
}
/* Carousel close */
