:root {
  --base-color: #FAFAFA;
  --purple: #5A4FCF;
  --orange: #FDC886;
  --yellow: #FFB800;
  --dark: #232631;
  --dark-grey: #656565;
  --light-grey: #858585;
  --light-purple: #eae9f6;
  --white: #FFFFFF;
}